html{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(img/window_pane.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
}